.App-logo {
    height: 11vmin;
    pointer-events: none;
    float: left;
    background-color: #282c34;
}

.App-header {
    height: 70px;
    display: flex;
}

.card-link {
    color: black
}

.card-body a:hover {
    text-decoration: underline;
    color: black
}

.nav-link {
    color: black
}
.displayBlock {
    display: inline;
}

.margin-5{
    margin: 5px
}

.padding-5 {
    padding: 5px
}